auth.generalPass = pass
auth.secret = ssecret
auth.salt = ssalt
db.host = localhost
db.port = 5432
db.base = checkmedb
db.user = postgres
db.password = ppassword
check_db.host = localhost
check_db.port = 3306
check_db.user = root
check_db.password = password
check_db.url = jdbc:mariadb://
web.hotReloadTemplates = true
logging.overall = true
