.bundle-in-list {
    display: flex;
    margin-top: 20px;
    align-items:center;
    width: 100%;
    margin-bottom: 10px;
}

.bundle-in-list .bundle-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    flex-grow: 1;
    padding: 15px;
    background: #EBEBEB;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #7699D4;
    border-radius: 10px;
    cursor: pointer;
}

.bundle-in-list .bundle-item:hover {
    outline: 1px solid black;
}

.bundle-in-list .bundle-item .name {
    font-weight: bold;
}

.bundle-in-list .usually-button {
    width: 150px;
    height: 50px;
    gap: 15px;
    margin: 10px;
    flex-wrap: wrap;
}
