.answers-list {
    margin-bottom: 40px;
}

.Task h2 {
    margin-bottom: 0px;
}

.Task .task-link {
    margin-top: 20px;
    margin-bottom: 0px;
}

.Task .best-solution {
    font-weight: bold;
    margin-top: 20px;
}

.Task .excellent-result {
    color: #3E8D00;
    margin-left: 5px;
}

.Task .medium-result {
    color: #FCCA12;
    margin-left: 5px;
}

.Task .bad-result {
    color: #CE2727;
    margin-left: 5px;
}

.Task input[type="file"] {
    display: none;
}

.Task .file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 19px;
    margin-bottom: 19px;
    cursor: pointer;
    border-radius: 10px;
}

.Task .file-upload:hover {
    background-color: rgba(118, 153, 212, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Task .solution-label {
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.Task textarea {
    font-family: 'Courier New', Courier, monospace;
}

.task-description {
    white-space: pre-line;
}

.Task .usually-button {
    width: 200px;
}

.Task .hidden-button {
    margin-bottom: 20px;
    font: inherit;
    display: block;
    width: 200px;
    padding: 6px 40px;
    border: transparent;
    border-radius: 10px;
    color: black;
    background-color: #7699D4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #7699D4;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.task-checkbox {
    margin: 0;
}
